<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vue page</title>
  <link rel="stylesheet" href="style/app.css">
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        <div v-bind:class="vueClass">This element is bound to the "vueBg" class.</div>

        <p v-if="typewriterCount>3">
            In stock
        </p>
          
        <p v-else-if="typewriterCount>0">
            Very few left!
        </p>
          
        <p v-else>
            Not in stock
        </p>

        <div class="show-div" v-show="lightOn">This div tag can be hidden</div>

        <div class="v-for">
            <img v-for="x in manyFoods" v-bind:src="x">
        </div>

        <div class="v-for">
            <figure v-for="(x, idx) in manyFoodsObj" v-bind:class="{selClass: x.sel}">
                <img v-bind:src="x.url" 
                @click="select(idx)">
                <figcaption>{{ x.name }}</figcaption>
            </figure>
        </div>

        <div id="bulb">
          <div id="light">
            <div v-show="lightOn"></div>
            <img src="img/img_lightBulb.svg">
          </div>
          <button @:click=" lightOn =! lightOn ">Switch light</button>
        </div>

        
        <div v-on:mousemove=" colorVal = Math.floor(Math.random()*360) " v-bind:style=" {backgroundColor: 'hsl('+colorVal+', 80%, 60%)'} " style="width: 200px; height: 80px;"></div>
        <p style="width: 40%;"><span>backgroundColor: hsl(<strong>{{ colorVal }}</strong>, 80%, 60%)</span></p>

        <div class="form">
          <form>
            <p>
              Important item?
              <label v-bind:class="{lblActive: chbxVal}">
                 <input type="checkbox" v-model="chbxVal"> 
                 {{ isImportant }}
              </label>
            </p>

            <input type="range" min="0" max="100" step="1" v-model="rangeVal">
            <p><code>{{ rangeVal }}</code></p> 
          </form>
        </div>
        <br>
        <div class="show-div">
          <div v-on:click="updatePos"></div>
          <p><code>{{ xDiff }}</code></p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
              return {
                  message: "Hello Vue!",
                  vueClass: "vueBg",
                  typewriterCount: 3,
                  manyFoods: [
                  'img/img_burrito.svg',
                  'img/img_salad.svg',
                  'img/img_cake.svg',
                  'img/img_soup.svg',
                  'img/img_fish.svg',
                  'img/img_pizza.svg',
                  'img/img_rice.svg'
                ],
                manyFoodsObj: [
                  {name: 'Burrito', url: 'img/img_burrito.svg', sel: false},
                  {name: 'Salad', url: 'img/img_salad.svg', sel: false},
                  {name: 'Cake', url: 'img/img_cake.svg', sel: false},
                  {name: 'Soup', url: 'img/img_soup.svg', sel: false},
                  {name: 'Fish', url: 'img/img_fish.svg', sel: false},
                  {name: 'Pizza', url: 'img/img_pizza.svg', sel: false},
                  {name: 'Rice', url: 'img/img_rice.svg', sel: false}
                ],
                lightOn: false,
                colorVal: 50,
                chbxVal: false,
                rangeVal: 70,
                xPos: 0,
                xDiff: 0
            }
          },
          watch: {
            rangeVal(val) {
              if( val>20 && val<60 ){
                if(val<40){
                  this.rangeVal = 20;
                }
                else{
                  this.rangeVal = 60;
                }
              }
            },
            xPos(newVal, oldVal) {
              this.xDiff = newVal-oldVal
            }
          },
          computed: {
            isImportant() {
              if(this.chbxVal) {
                return 'Yes'
              }
              else {
                return 'No'
              }
            }
          },
          methods: {
            select(number) {
              this.manyFoodsObj[number].sel = !this.manyFoodsObj[number].sel
            },
            updatePos(evt) {
              this.xPos = evt.offsetX
            }
          },
        })
      app.mount('#app')
    </script>
</body>
</html>